.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 2.5rem 3rem; */
    height: 100%;
    overflow: scroll;
}

.header {
    padding: 2.5rem 3rem;
}

.container h1 {
    font-size: 2.25rem;
    margin: 0;
}
