.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 15vw;
}

.container img {
    border-radius: 10px;
    width: 15vw;
}

.container a:hover {
    text-decoration: underline;
}