.container {
    border-top: 1px solid #ccc;
    padding: 1rem 2rem;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.container > * {
    color: #6D6D6D;
}

.container span {
    font-size: 0.8rem;
}

