@font-face {
    font-family: 'FS Pro';
    src: url('../src/fonts/San-Francisco-Pro-Fonts-master/SF-Pro.ttf') format('truetype');
}

body {
    font-family: 'FS Pro', sans-serif;
    padding: 0;
    margin: 0;
}

.blank-icon {
    opacity: .1;
}

/* Remove anchor tag styling */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove list styling */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Remove button styling */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}